<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="reviewListApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reading List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Itim|Titillium+Web:300,400" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller='ReviewController as ReviewCtrl'>


    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <!---------------------------- Add book section ------------------------------>

    <header ng-controller="FormController as formCtrl">
        <div class="container">
            <div class="row sub-header">
                <div class="col-xs-12">
                    <div class="navbar">
                        <h2 class="page-header">READING LIST.<small><span class="lead"> Here you can add books to your reading list and review them.</span></small></h2>

                        <button type="button" class="btn btn-danger" data-target="#reviewForm" data-toggle="collapse">Add book</button>
                    </div>
                </div>
            </div>

            <!---------------------------- Form & form preview section ------------------------------>


            <div class="row collapse" id="reviewForm">
                <div class="col-xs-12 col-sm-6 col-sm-push-6">
                    <div class="lead text-center">Form Preview</div>
                    <div class="well well-sm">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img ng-src="img/{{formData.bookImage}}.jpg" class="img-responsive img-thumbnail media-object">
                                </a>
                            </div>
                            <div class="media-body text-left">
                                <h3 class="media-heading">
                                    {{formData.bookTitle}}
                                </h3>
                                <p class="lead"><small>{{formData.author}}</small></p>
                                <p ng-show="formData.bookTitle">Rating : {{formData.rating}} / 5</p>
                                <ul class="list-inline">
                                    <li ng-repeat="(genre, state) in genresSelected" ng-show="state">
                                        <span class="label" ng-class="{ 'sci-fi': genre === 'sci_fi',
                                                            'drama': genre === 'drama',
                                                            'romance': genre === 'romance',
                                                            'thriller': genre === 'thriller',
                                                            'comedy': genre === 'comedy' }">
                                           {{genre}}</span>
                                    </li>

                                </ul>
                                <blockquote class="quote" ng-show="formData.description">
                                    <p>{{formData.description}}</p>
                                </blockquote>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-6 col-sm-pull-6" id="reviewForm">

                    <!---------------------------- Review Form ------------------------------>

                    <form class="form-horizontal" name="bookReviewForm" novalidate ng-submit="submitForm()">

                        <!---------------------------- title input ------------------------------>

                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title :</label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="formData.bookTitle" class="form-control" id="title" placeholder="Book Title">
                            </div>
                        </div>

                        <!------------------------------ ISBN input------------------------------>

                        <div class="form-group">
                            <label for="isbn" class="col-sm-2 control-label">ISBN : </label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="formData.bookImage" class="form-control" id="isbn" placeholder="ISBN-10">
                            </div>
                        </div>

                        <!------------------------------ Author input------------------------------>

                        <div class="form-group">
                            <label for="author" class="col-sm-2 control-label">Author : </label>
                            <div class="col-sm-9">
                                <input type="text" ng-model="formData.author" class="form-control" id="author" placeholder="Name of the Author">
                            </div>
                        </div>

                        <!------------------------------ Review textarea ------------------------------>

                        <div class="form-group">
                            <label for="review" class="col-sm-2 control-label">Review : </label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="formData.description" id="review" rows="6"></textarea>
                            </div>
                        </div>

                        <!------------------------------  Select Ratings ------------------------------>

                        <div class="form-group">
                            <label for="rating" class="col-sm-2 control-label">Rating : </label>
                            <div class="col-sm-9">
                                <select class="form-control" id="rating" ng-model="formData.rating">
                                    <option ng-repeat="rating in ratings track by $index">{{rating}}</option>
                                </select>
                            </div>
                        </div>

                        <!------------------------------ Genre Checkbox ------------------------------>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">Genre : </label>
                            <div class="checkbox col-sm-9">
                                <label class="checkbox-inline"><input ng-model="genresSelected.sci_fi" type="checkbox" id="genre" value="option1">Sci-fi</label>
                                <label class="checkbox-inline"><input ng-model="genresSelected.romance" type="checkbox" id="genre" value="">Romance</label>
                                <label class="checkbox-inline"><input ng-model="genresSelected.thriller" type="checkbox" id="genre" value="">Thriller</label>
                                <label class="checkbox-inline"><input ng-model="genresSelected.comedy" type="checkbox" id="genre" value="">Comedy</label>
                                <label class="checkbox-inline"><input ng-model="genresSelected.drama" type="checkbox" id="genre" value="">Drama</label>
                            </div>
                        </div>

                        <!------------------------------ Submit & Reset ------------------------------>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-push-2">
                                <input type="submit" class="btn btn-primary" value="Save Review">
                                <input type="reset" class="btn btn-warning" value="Reset form">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <!------------------------------ Review Section ------------------------------>

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-offset-2 text-center">
                    <h3 class="page-header">Reviews</h3>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-offset-2">
                        <div class="well well-sm">
                            <div class="media" ng-repeat="review in reviews">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img ng-src="img/{{review.bookImage}}.jpg" class="img-responsive img-thumbnail media-object">
                                    </a>
                                </div>
                                <div class="media-body text-left">
                                    <h3 class="media-heading">
                                        {{review.bookTitle}}
                                    </h3>
                                    <p class="lead"><small>{{review.author}}</small></p>
                                    <p>Rating : {{review.rating}} / 5</p>
                                    <ul class="list-inline">
                                        <li ng-repeat="(genre, state) in review.genres" ng-show="state">
                                            <span class="label" ng-class="{ 'sci-fi': genre === 'sci_fi',
                                                            'drama': genre === 'drama',
                                                            'romance': genre === 'romance',
                                                            'thriller': genre === 'thriller',
                                                            'comedy': genre === 'comedy' }">
                                           {{genre}}</span>
                                        </li>

                                    </ul>
                                    <blockquote class="quote">
                                        <p>{{review.description}}</p>
                                    </blockquote>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
