body {
    background-color: rgba(232, 232, 232, 0.34);
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.2px;
}

.btn {
    border-radius: 0px;
}

.btn.btn-danger {
    border: 1px solid rgba(229, 43, 43, 0.74);
    box-shadow: 1px 2px 5px rgba(208, 40, 40, 0.67);
}


.sci-fi {
    background-color: #40a7b9;
}

.drama {
    background-color: #bf862b;
}

.romance {
    background-color: #b21426;
}

.comedy {
    background-color: #5a9550
}

.thriller {
    background-color: #6d6458;
}

.quote {
	font-family: 'Itim', cursive;
}

.quote:before{
	content: open-quote;
}

.quote:after {
	content: close-quote;
}